version: '3.9'

services:
  backend:
    build: ./backend
    container_name: codeArena-backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    container_name: codeArena-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: always